<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85341926-1', 'auto');
  ga('send', 'pageview');

</script>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>

    <div class="container">
      <div class="row" data-hook>
        <!-- <%= breadcrumbs(@taxon) %> -->

        <!-- <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %> -->

        <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0" : "col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>

    <% if controller_name.include? 'home' %>
      <div class="our-services">
        <div class="services-wrap">
          <h3 class="services">Serve Classic Cocktails & Mocktails</h3>
          <p class="service-blurb">Includes professional bartending services with drinks made fresh in front of you and your guests.</p>

          <h3 class="services">Design Your Own Cocktail With Us</h3>
          <p class="service-blurb">Tell a personal wedding story or showcase your companys' unique branding through a tailor-made signature drink at your party.</p>

          <h3 class="services">Hong Kong's First Self Service Cocktail Station</h3>
          <p class="service-blurb">Let guests build their own drinks based on their own preferences and creativity at your very own self service cocktail & mocktail bar!</p>

          <h3 class="services">Private Cocktail Workshops</h3>
          <p class="service-blurb">Down some cocktails and master the basic art of mixology through a fun-filled cocktail workshop while having a go at mixing your own drinks!</p>

          <h3 class="services">Unique Party Favors & Gift Sets</h3>
          <p class="service-blurb">Customise party favors and gift hampers for bridal showers, weddings and even corporate gifts for your best clients and staff.</p>
        </div>
        <div class="call-to-action">
          <a href="/customize"><button class="btn btn-info btn-lg">GET IN TOUCH</button></a>
        </div>
      </div>
      <div class="image-drinks">
        <div class="quote">
          <h4 class="quote-text">A GREAT STORY ALWAYS STARTS <span id="break"></span>WITH A DRINK.</h4>
          <span id="company-name">- The Glass Formula</span>
        </div>
      </div>
      <div class="container">
        <div class="row" data-hook>
          <div id="content" class="<%= !content_for?(:sidebar) ? "col-sm-12" : "col-sm-8 col-md-9" %>" data-hook>
            <div data-hook="homepage_products">
              <h2 class="text-center partners">WE'VE PARTNERED WITH THESE AWESOME PEOPLE...</h2>
              <div class="partners-logo text-center">
                <%= image_tag Spree::Config[:partner_5], alt: "CHALK Party", title: Spree::Store.current.name %>
                <%= image_tag Spree::Config[:partner_1], alt: "Baker & McKenzie", title: Spree::Store.current.name %>
                <%= image_tag Spree::Config[:partner_2], alt: "Blueprint Swire Properties Limited", title: Spree::Store.current.name %>
                <%= image_tag Spree::Config[:partner_3], alt: "The Work Project", title: Spree::Store.current.name %>
                <%= image_tag Spree::Config[:partner_4], alt: "WeUse", title: Spree::Store.current.name %>
                <br>
                <br>
                <br>
                ...AND MANY MORE!
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= render partial: 'spree/shared/footer' %>
  </body>
</html>
