<div data-hook="homepage_products">
  <h2 class="main-heading">Unbottle The Party With Us</h2>
  <p class="how-we-work-blurb">
    The Glass Formula is a Cocktail & Mocktail catering company who believes that there is a drink for every occasion. We boast a fully customisable menu tailor-made for any corporate event, private party or wedding, thus we don't have a fixed menu that is "set in stone", as we believe in a tailor-made plan that will fit any occasion and budget. If you are interested in our services for your next event, feel free to get in touch with us - we would love to send you a proposal!
  </p>
  <br>
  <div class="row image-grid">
    <div class="col-xs-6 col-md-4 grid-cell grid-overlay-xs">
      <%= image_tag Spree::Config[:drink_1], class: 'grid-drinks img img-responsive', alt: "Ginger Fizz Cocktail", title: Spree::Store.current.name %>
      <span class="grid-drinks-caption-xs">Serve Signature Cocktails</span>
    </div>
    <div class="col-xs-6 col-md-4 grid-cell grid-overlay-md">
      <%= image_tag Spree::Config[:drink_2], class: 'grid-drinks img img-responsive', alt: "Old-Fashioned Cocktail", title: Spree::Store.current.name %>
      <span class="grid-drinks-caption-md">Serve Signature Cocktails</span>
    </div>
    <div class="col-xs-6 col-md-4 grid-cell grid-overlay-xs">
      <%= image_tag Spree::Config[:drink_4], class: 'grid-drinks img img-responsive', alt: "Wine Hamper Gift Set", title: Spree::Store.current.name %>
      <span class="grid-drinks-caption-xs">Tailor Gifts & Party Favors</span>
    </div>
    <div class="col-xs-6 col-md-4 grid-cell grid-overlay-md">
      <%= image_tag Spree::Config[:drink_5], class: 'grid-drinks img img-responsive', alt: "Champagne Hamper Gift Set", title: Spree::Store.current.name %>
      <span class="grid-drinks-caption-md">Tailor Gifts & Party Favors</span>
    </div>
    <div class="col-xs-6 col-md-4 grid-cell grid-overlay-xs">
      <%= image_tag Spree::Config[:drink_3], class: 'grid-drinks img img-responsive', alt: "Vodka Lavenade Cocktail", title: Spree::Store.current.name %>
      <span class="grid-drinks-caption-xs">Design Unique Cocktails With Us</span>
    </div>
    <div class="col-xs-6 col-md-4 grid-cell grid-overlay-md">
      <%= image_tag Spree::Config[:drink_6], class: 'grid-drinks img img-responsive', alt: "Wild Hibiscus Royale Sparkling Wine Cocktail", title: Spree::Store.current.name %>
      <span class="grid-drinks-caption-md">Design Unique Cocktails With Us</span>
    </div>
  </div>
  <div class="call-to-action">
    <a href="/customize"><button class="btn btn-info btn-lg">GET IN TOUCH</button></a>
  </div>
</div>
